
body,html{
	max-height: 100vh;
    /* overflow: hidden; */
    background-color: gainsboro;
    font-family: "Press Start 2P";
    color: rgb(6, 98, 184);
}
 
#title {
   height: 10vh
}


.visible {
    visibility:hidden;

}

#title p {
   font-size: 4vw;
   text-align: center;
}

#input label  {
   font-size: 2vw;
   margin-left: 38vw;   
}

input {
  font-size: 1.5vw;
}

#input{
    /* visibility: hidden; */
    margin-top: 20px;    
    /* full screen not overlapp circle */
}

#content {
  
   display: flex;
   font-size: 4vw;
   align-items: center;
   width:100%;
   height: 60vh;
   justify-content:space-around;
   
}


.one:hover{
  cursor: pointer;  
}

li {
    list-style: none;
}

.circle {
    align-items: center;
    justify-content: center;
    display: flex;
  
}

.one {
   width: 15vw;
   height: 15vw;
   border-radius: 50%;
   background:lightsteelblue;
  
}

.two {
   width:30vw;
   height: 30vw;
   border-radius: 50%;
   background:lightsteelblue;

}
.three {
   width: 22vw;
   height:22vw;
   border-radius: 50%;
   background:steelBlue;
   flex-direction: column;
   color :white;
}

