
body,html{
	height: 100%;
   overflow: hidden;

}
 
#title {
   height: 10vh
}


.visible {
   visibility: hidden;
}

#title p {
   font-size: 4vw;
   text-align: center;
}

#input label  {
   font-size: 2vw;
   margin-left: 38vw;   
}

input {
  font-size: 1.5vw;
}

#input{
    margin-top: 20px;
}

#content {
   color :white;
   display: flex;
   font-size: 4vw;
   align-items: center;
   width:100%;
   height: 60vh;
   justify-content:space-around;
   
}


.one:hover{
  cursor: pointer;  
}

li {
    list-style: none;
}

.circle {
    align-items: center;
    justify-content: center;
    display: flex;
  
}

.one {
   width: 15vw;
   height: 15vw;
   border-radius: 50%;
   background: blue;
  
}

.two {
   width:30vw;
   height: 30vw;
   border-radius: 50%;
   background: green

}
.three {
   width: 22vw;
   height:22vw;
   border-radius: 50%;
   background: red;
   flex-direction: column;
  
}

